body {
    background-color: #f8f8f8; /* Light gray background */
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 20px;
}

/* Book Library Container */
.book-library {
    background-color: #ffffff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; /* Responsive layout */
    max-width: 1200px;
    margin: auto;
    text-align: center; /* Center the heading */
}

.book-library h1 {
    color: #333; /* Darker color for the heading */
    margin-bottom: 20px;
}

/* Individual Book Block */
.book {
    background-color: #ffffff;
    border: 1px solid #ddd; /* Light border */
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    width: 200px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.author{
	color:#777777;
}
.price-block{
	color:white;
	background-color: #2ecc71;
	width: 100%;
}
/* Book Image */
.book-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

/* Book Title */
.book-title {
    font-size: 1.2em;
    color: #333; /* Darker color for title */
    margin-bottom: 5px;
}

/* Book Author */
.book-author {
    font-size: 0.9em;
    color: #777777; /* Gray color for author */
    margin-bottom: 10px;
}

/* Book Price */
.book-price {
    font-size: 1em;
    color: #2ecc71; /* Green color for price */
    font-weight: bold;
}